@import 'src/assets/styles/global';
.header-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  .message-container {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    z-index: -1;
    width: 100%;
    color: $white;
    text-align: center;
  }
  @keyframes move-notice {
    0% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(100%);
    }
    75% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  header {
    background-color: $black;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5rem $shadow;
    width: 100vw;
    top: 0;

    .header-title {
      color: $white;
      margin: 1rem 1.5rem;
      font-family: 'Baloo Chettan 2', cursive;
    }

    nav {
      flex: 1;

      margin-left: 5rem;
      #search-box {
        padding: 0.5rem 0.5rem;
        width: 20vw;
        border-radius: 1rem;
        border: none;
      }
      ul {
        padding: 0;
        list-style: none;
        display: flex;
        color: $white;
        font-size: 1rem;
        align-items: center;

        li {
          margin: 0 1rem;
          position: relative;
          a {
            padding: 0 1rem;
            cursor: pointer;
            color: $white;
            transition: 0.3s color;

            &:hover {
              color: $secondary-color;
            }
            &.selected {
              color: $primary-color;
            }
            &.filled {
              color: $accent-color;
              position: relative;
            }
          }
          .counter-circle {
            background-color: $primary-color;
            border-radius: 100%;
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            top: 0;
            right: 0.3rem;
            transform: translateY(-50%);
          }
        }

        li:last-child {
          margin-left: auto;
          font-size: 1.5rem;
        }
      }
    }
  }
}
