<div class="products-container">
  <div class="product-categories">
    <h2>Categories</h2>
    <ul *ngFor="let category of uniqueCategories">
      <li>
        <a
          routerLink="./"
          [queryParams]="{ category: category }"
          [routerLinkActive]="'active'"
          >{{ category }}</a
        >
      </li>
    </ul>
  </div>

  <div class="product-grid">
    <article
      class="product-card"
      *ngFor="let product of products"
      [routerLink]="[product.id]"
    >
      <img [src]="product.imageUrl" [alt]="product.name" />
      <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p>${{ product.price }}</p>
      </div>
    </article>
  </div>
</div>
