@import 'src/assets/styles/global';
.product-grid {
  display: grid;
  width: 95%;
  margin: 10rem auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20rem);
  grid-gap: 1rem;

  .product-card {
    background-color: $black;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.49);
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      transform: translateY(-0.1rem);
      box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.49);
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
    .product-info {
      padding: 0.5rem;
      color: $white;
    }
    img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
    }
  }
}
