@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Roboto&display=swap');
$primary-color: #ffeb3b;
$secondary-color: #4caf50;
$accent-color: #11698c;
$white: #fffff8;
$black: #212121;
body {
  min-height: 100vh;
  background-image: url('src/assets/imgs/background.png');
  background-size: 6rem;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
}
