@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Roboto&display=swap');
@import 'assets/styles/global.scss';
body {
  min-height: 100vh;
  background-image: url('src/assets/imgs/background.png'),
    linear-gradient($white, $white);

  background-size: 6rem;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}
.input {
  border: 1px solid $accent-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.input:focus {
  box-shadow: 0 0 0.2rem $accent-color;
  outline: none;
}
.input.ng-invalid.ng-touched {
  border: 1px solid $secondary-color;
}
.warning-span {
  margin-top: 0.5rem;
  color: $secondary-color;
  font-size: 0.8rem;
}
