@import 'src/assets/styles/global';
#product-detail-container {
  margin: 10rem auto;
  width: 80vw;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.62);
  box-shadow: 0 0 0.5rem $shadow;
  border-radius: 0.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'img info'
    'img buttons';

  img {
    border-radius: 1rem;
    grid-area: img;
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
  .product-info {
    grid-area: info;
    .price {
      color: $accent-color;
    }
  }
  .buttons {
    grid-area: buttons;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    p {
      color: $secondary-color;
      cursor: pointer;
    }
    button {
      margin-top: 1rem;
      background-color: #398f37;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      border: none;
      border-radius: 10rem;
      box-shadow: 0 0 0.5rem $shadow;
      color: $white;
    }
  }
}
