@import 'src/assets/styles/global';
#hero-img {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;

  background: linear-gradient(rgba(85, 78, 80, 0.45), rgba(85, 78, 80, 0.45)),
    url('src/assets/imgs/pineapple-hero.jpg') no-repeat;
  background-size: cover;

  #hero-text {
    padding-top: 10rem;
    margin-left: 5rem;

    color: $white;
    button {
      background-color: $accent-color;
      font-size: 2rem;
      border-radius: 0.5rem;
      border: none;
      color: $white;
      cursor: pointer;
      padding: 1rem 2rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.52);
    }
  }
  h1 {
    font-size: 2.5rem;
  }
}
